POSTGRES_USER=logist
POSTGRES_PASSWORD=logist_demo
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
MONGO_URI=mongodb://mongo:27017
MQTT_HOST=mosquitto
MQTT_PORT=1883
KAFKA_BOOTSTRAP=redpanda:9092
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=logistpulse_demo
